<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.waimai.mapper.ex.OderEXMapper">
    <select id="selectById" resultType="com.briup.waimai.bean.ex.OderEX">
        select o.*,u.username as username,u.address as address
        from XOder o,XUser u
        where  u.id=o.User_id and o.id=#{id}
    </select>
    <select id="selectById1" resultType="com.briup.waimai.bean.ex.OderEX">
        select o.*,u.username as username,u.address as address
        from XOder o,XUser u
        where  u.id=o.User_id and o.id=#{id}
    </select>
    <select id="selectByCode" resultType="com.briup.waimai.bean.ex.OderEX">
         select o.*,u.username as username
        from XOder o,XUser u
        where  u.id=o.User_id and o.code=#{code}
    </select>
</mapper>