<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.waimai.mapper.ex.UserEXMapper">
    <select id="search" resultType="com.briup.waimai.bean.User">
        select * from XUser where username like #{word}
    </select>
</mapper>